.bigBox{
    width: 100%;
    height: 100vh;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/011/004/736/large/alexander-alza-brokshop-01.jpg?1527366377');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.player_box{
    
}