.invalid {
    box-shadow: inset 8px 8px 8px #df4b10,
        inset -8px -8px 8px rgb(187, 107, 107) !important;
}
.valid {
    box-shadow: inset 8px 8px 8px #5f8d39, inset -8px -8px 8px rgb(53, 202, 152) !important;
}

.eminvalid {
    box-shadow: inset 8px 8px 8px #df4b10,
        inset -8px -8px 8px rgb(187, 107, 107) !important;
}
.emvalid {
    box-shadow: inset 8px 8px 8px #5f8d39, inset -8px -8px 8px rgb(53, 202, 152) !important;
}

.passinvalid {
    box-shadow: inset 8px 8px 8px #df4b10,
        inset -8px -8px 8px rgb(187, 107, 107) !important;
}

.passvalid {
    box-shadow: inset 8px 8px 8px #5f8d39, inset -8px -8px 8px rgb(53, 202, 152) !important;
}
