.home_big {
    background-color: rgb(238, 245, 243);

}


.btn {
    border: none;
    color: rgb(20, 25, 29);
    background: transparent;
    cursor: pointer !important;
}

.imageShowLess {
    width: 39px;
    height: 70px;
}

.imageShowLess2{
    width: 39px;
    height: 70px;
    transform: rotate(180deg);
}
.sec{
    background: url("http://squarefaction.ru/files/game/9296/gallery/20170901120623_3dacafbf.jpg");
}