.home_big {
    background-color: rgb(238, 245, 243);

}
.home_con{
    background: url("https://games.mail.ru/hotbox/content_files/news/2021/05/14/d02f44f2c15a459fa0ca37641d7216ea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
.btn {
    border: none;
    color: rgb(20, 25, 29);
    background: transparent;
    cursor: pointer !important;
}

.imageShowLess {
    width: 39px;
    height: 70px;
}

.imageShowLess2{
    width: 39px;
    height: 70px;
    transform: rotate(180deg);
}
