.footer{

        display: flex;
        align-items: flex-start !important;
        background-image: url('https://i.pinimg.com/originals/6d/96/1f/6d961fc3b96402ca0e4bbe603e41979e.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        color: aliceblue !important;
}