.footer{

        display: flex;
        align-items: flex-start !important;
        background-image: url('https://i.playground.ru/p/4rL26uuhQlq20ZoAiocdww.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        color: aliceblue !important;
}