.footer{

        display: flex;
        align-items: flex-start !important;
        background-image: url('http://squarefaction.ru/files/game/9296/gallery/20180124134106_e735f1be.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0;
        color: aliceblue !important;
}