.header{
    height: 223px;
    display: flex;
    align-items: flex-start !important;
    background-image: url('https://qph.cf2.quoracdn.net/main-qimg-741e6e965c66a67ceda44648f00ed763.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}