.header{
    height: 223px;
    display: flex;
    align-items: flex-start !important;
    background-image: url('https://images8.alphacoders.com/710/thumb-1920-710329.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
}

.navbar_inp{
    background-color:#80b3ca34 !important;
    color: white !important;
}
.logreg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}