.header {
    height: 300px;
    background: url(https://thumbs.gfycat.com/MaleAngelicAmethystinepython-size_restricted.gif)
        center center / cover no-repeat;
}
.sec{
    background-color: black;
}