.header {
    height: 300px;
    background: url(https://thumbs.gfycat.com/MaleAngelicAmethystinepython-size_restricted.gif)
        center center / cover no-repeat;
        background-attachment: fixed;
}
.sec{
    background: url(http://img2.joyreactor.cc/pics/post/full/Philipp-A-Urlich-artist-%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-art-6208029.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 700px;
    padding-top: 50px;
}
.h5{
    color: rgb(109, 187, 231);
}
.pp{
    color: rgb(109, 187, 231);
}

.big_box_basket{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 10px;
    color: black;
    background-image: url('https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-hub-thumbnail-desktop-01-en-25jun21?$facebook$');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    background-attachment: fixed;
    
}
.images{
    height: 350px;
}

.boxChange{
    width: 100%;
    height: 300px;
    
}