.header {
    height: 300px;
    background: url(https://thumbs.gfycat.com/MaleAngelicAmethystinepython-size_restricted.gif)
        center center / cover no-repeat;
}
.sec{
    background: url(https://wallpapercrafter.com/desktop/104857-God-of-War-God-of-War-2018-video-games.png);
}